<mat-toolbar >
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a mat-raised-button>
          <img src="assets/images/optivision-logo.png" width="56" height="28" routerLink="/home">
        </a>
        <a mat-raised-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-raised-button routerLink="/products" routerLinkActive="active">Productos</a>
        <a mat-raised-button routerLink="/login" routerLinkActive="active">Contact</a>
      </nav>
      <a mat-raised-button routerLink="/login" routerLinkActive="active" matBadgeColor="warn">Login</a>
      <a mat-raised-button matBadge="total$ | async" matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="">
        <img src="assets/images/optivision-logo.png" width="56" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          ¿Quienes somos?
        </a>

        <a class="navbar-item" routerLink="list-optometra" routerLinkActive="active">
          Personal
        </a>

        <a class="navbar-item" routerLink="list-optometra" routerLinkActive="active" >
          Especialidades
        </a>

        <a mat-button routerLink="/products" routerLinkActive="active">
          Lista de Productos
        </a>

        <nav class="navbar" role="navigation" aria-label="dropdown navigation">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" routerLink="list-optometra" routerLinkActive="active">
              Optometras
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Productos
              </a>
              <a class="navbar-item">
                Agendamientos
              </a>
              <a class="navbar-item" routerLink="list-historia">
                Historias
              </a>
              <a class="navbar-item">
                  Pagos
              </a>
              <a class="navbar-item">
                  Clientes
                </a>
            </div>
          </div>
        </nav>


      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" routerLink="/login">
              Ingresar
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav> -->
