<mat-horizontal-stepper>
  <mat-step required>
    <ng-template matStepLabel="">Sus productos</ng-template>
    <div *ngIf="(products$) as productList">
      <p *ngIf="productList.length === 0">No hay productos en el carrito</p>
      <mat-label>Name</mat-label>
        <!-- <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required> -->
      <div class="row" *ngFor="let productFor of productList">
        <div class="col-xs-8 col-sm-2 col-md-2 ">
          <div class="box">
            <img class="image" src="./../../../../assets//images/gafas-fondo.jpg" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 ">
          {{"Nombre:"}}
          <div class="box">
            {{"--"}}
            {{productFor.nombre}}
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 ">
          {{"Precio:"}}
          <div>
            {{"--"}}
            {{productFor.precio}}
          </div>
        </div>
      </div>
    </div>
    <button matStepperNext >Siguiente</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos personales</ng-template>
    <form [formGroup]="formOptometra" (ngSubmit)="searchDocument($event)">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Info cliente</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
              <div class="col-md">
                  <div class="row">
                    <mat-form-field>
                        <input placeholder="identificacion" formControlName="identificacion" matInput type="text" readonly>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field>
                        <input placeholder="Tipo de identificación" formControlName="tipoId" matInput type="text" readonly>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field>
                        <input placeholder="Nombre" formControlName="nombres" matInput type="text" readonly>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field>
                        <input placeholder="Apellidos" formControlName="apellidos" matInput type="text" readonly>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field>
                        <input placeholder="Telefono" formControlName="telefono" matInput type="text" required>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field>
                        <input placeholder="Direccion" formControlName="direccion" matInput type="text" required>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field>
                        <input placeholder="Email" formControlName="email" matInput type="text" required>
                    </mat-form-field>
                  </div>
              </div>
          </div>
        </mat-card-content>
      </mat-card>

    </form>
    <button mat-raised-button matStepperPrevious>Back</button>
    <button mat-raised-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <h1>contenifo</h1>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
</mat-horizontal-stepper>

