<form [formGroup]="formCliente" (ngSubmit)="saveCliente($event)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Editar Cliente</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
            <div class="col-md">
                <div class="row">
                  <mat-form-field>
                      <input placeholder="identificacion" formControlName="identificacion" matInput type="text" readonly>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field>
                      <input placeholder="Tipo de identificación" formControlName="tipoId" matInput type="text" readonly>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field>
                      <input placeholder="Nombre" formControlName="nombres" matInput type="text" readonly>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field>
                      <input placeholder="Apellidos" formControlName="apellidos" matInput type="text" readonly>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field>
                      <input placeholder="Telefono" formControlName="telefono" matInput type="text" required>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field>
                      <input placeholder="Direccion" formControlName="direccion" matInput type="text" required>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field>
                      <input placeholder="Email" formControlName="email" matInput type="text" required>
                  </mat-form-field>
                </div>
            </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button [disabled]="formCliente.invalid" mat-raised-button type="submit">Guardar</button>
      </mat-card-actions>
    </mat-card>

  </form>
