.crop-image{
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-top: 1em;;
}

@media only screen and (max-width: 700px) {
  .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-top: 1em;;
  }
}
