<section class="container">
  <mat-card *ngFor="let product of products">
    <mat-card-header >
      <mat-card-title>{{product.nombre | uppercase}}</mat-card-title>
      <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
      <img src="../../../assets/images/gafas-fondo.jpg" alt="">
    </div>
    <mat-card-content>
      <p>{{product.descripcion}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button [routerLink]="['/products', product.id]">Ver detalle</a>
      <button (click)="addCart(product)" mat-raised-button color="primary">Agregar al carrito</button>
    </mat-card-actions>
  </mat-card>
</section>



<!-- <div class="product-grid">
  <app-list-producto *ngFor="let product of products">
    <h1>{{product.title}}</h1>
  </app-list-producto>
</div> -->
