<div class="container has-text-centered">
    <p class="title">
        INGRESAR
    </p>
</div>
<div class="field">
    <label class="label">Usuario</label>
    <div class="control">
      <input class="input" type="text is-rounded">
    </div>
</div>

<div class="field">
    <label class="label">Contraseña</label>
    <div class="control">
      <input class="input" type="password is-rounded">
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            Recuerdame
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Ingresar</button>
    </div>

    <a class="navbar-item" routerLink="/forgotPassword">
        recuperar contraseña
      </a>
  </div>
