.swiper{
  background-image: url('/assets/images/gafas-fondo.jpg') !important ;
  background-size: cover;
  background-position: center center;
  height: 400px;
}

.banner-img{

}

/* .title{
  background-color: white;
  height: 70px;
  width: 50px;

} */
@import 'bulma/css/bulma.css'