<mat-card>
  <mat-card-header >
    <mat-card-title>{{products.nombre | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{products.price | currency}}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img src="..s/../../assets/images/gafas-fondo.jpg" alt="">
  </div>
  <mat-card-content>
    <p>Descripcion: {{products.descripcion}}</p>
    <p>Marca: {{products.marca}}</p>
    <p>Referencia: {{products.referencia}}</p>
    <p>Material: {{products.material}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button routerLink="/products" routerLinkActive="active">Volver</a>
  </mat-card-actions>
</mat-card>


